# See http://help.github.com/ignore-files/ for more about ignoring files.

/test-data
/tmp
/output.pdf
/config.json
/queue.json
/.google-credentials.json

/node_modules
tmp/*.pdf
result/*.pdf
temp*.pdf
*.log
*.zip

/gdrive
/logs
/found-content-issues
/item-bank